# ------------------------------------------------
# Python environments
# ------------------------------------------------
venv/
env/
projectenv/
mlops_env/
.venv/

# ------------------------------------------------
# Python cache
# ------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
.pytest_cache/

# ------------------------------------------------
# Jupyter
# ------------------------------------------------
.ipynb_checkpoints/
*.ipynb_checkpoints

# ------------------------------------------------
# MLflow
# ------------------------------------------------
mlruns/
mlflow/
mlflow.db

# ------------------------------------------------
# Data files
# ------------------------------------------------
data/raw_data/*
data/processed/*

# Keep folder structure
!data/raw_data/.gitkeep
!data/processed/.gitkeep

# ------------------------------------------------
# Model artifacts
# ------------------------------------------------
artifacts/
src/registry/artifacts/

# ------------------------------------------------
# Reports
# ------------------------------------------------
reports/

# ------------------------------------------------
# Logs
# ------------------------------------------------
logs/
*.log

# ------------------------------------------------
# OS files
# ------------------------------------------------
.DS_Store
Thumbs.db

# ------------------------------------------------
# Docker
# ------------------------------------------------
*.tar
*.pid

# ------------------------------------------------
# IDE
# ------------------------------------------------
.vscode/
.idea/

# ------------------------------------------------
# Streamlit cache
# ------------------------------------------------
.streamlit/

# ------------------------------------------------
# Temporary files
# ------------------------------------------------
tmp/
temp/
*.tmp

# ------------------------------------------------
# Prometheus data
# ------------------------------------------------
prometheus_data/

# ------------------------------------------------
# Grafana data (db, cache, geçici dosyalar)
# Provisioning klasörü hariç tutulur (önemli config)
# ------------------------------------------------
grafana_data/*.db
grafana_data/csv/
grafana_data/pdf/
grafana_data/png/
grafana_data/unified-search/*.zip
